
html {
    margin: 0vw;
}

body {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: ghostwhite;
    color: slategrey;
    margin: 0vw;
}

.base-container {
    margin-top: 5.0vw;
    margin-left: 35.0vw;
    margin-right: 35.0vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}


h1 {
    font-size: 4.5vw;
}


h2 {
    font-size: 3.5vw;
}


h3 {
    font-size: 2.5vw;
}


h4 {
    font-size: 2.0vw;
}
  

  #form-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}
  

.form-item {
    align-content: center;
    margin-right: 1.5vw;
}
  
label.primary {
    display: block;
    margin: 1.0vw;
}
  
label::after {
    content: "..";
}
  
  
#wine-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
  

.wine-list-item {
    margin: 1.0vw 1.0vw;
    padding: 1.0vw 1.0vw;
    border: 0.1vw solid lightslategrey;
    border-radius: 0.25vw;
    background: whitesmoke;
}


input, select, button {
    margin-top: 1.0vw;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    border: 0.1vw solid slategrey;
    background-color: whitesmoke;
    color: lightslategrey;
    border-radius: 0.25vw;
    font-size: 0.8vw;
    width : 20.0vw;
    padding: 0.8vw;
    margin: 1.0vw;
    box-sizing: border-box;
    box-shadow: 0vw 0.8vw 1vw 0vw lightslategrey;
}

button, input[type="submit"] {
    margin-top: 1.0vw;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    border: 0.1vw solid slategrey;
    background-color: whitesmoke;
    color: lightslategrey;
    border-radius: 0.25vw;
}


  input:focus{
    outline: none;     
    box-shadow: 0vw 0.8vw 1vw 0vw lightslategrey;
}



/* Radio buttons.. */

input[type="radio"] {
    visibility: hidden;
}
  
  
input[type="radio"]:after {
    width: 1vw;
    height: 1.0vw;
    border-radius: 1.0vw;
    top: -0.5vw;
    left: -0.5vw;
    position: relative;
    background-color: whitesmoke;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.1vw solid slategrey;
    box-shadow: 0vw 0.8vw 1vw 0vw lightslategrey;
  }
  

input[type="radio"]:checked:after {
    width: 1.0vw;
    height: 1.0vw;
    border-radius: 1.0vw;
    top: -0.5vw;
    left: -0.5vw;
    position: relative;
    background-color: lightslategrey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.1vw solid darkslategrey;
    box-shadow: 0vw 0.8vw 1vw 0vw lightslategrey;
}
  
  