
body {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.0vw;
    background-color: ghostwhite;
    color: slategrey;
    margin: 4vw;
}

h1 {
    font-size: 5.0vw;
}
  
  #form-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}
  
.form-item {
    align-content: center;
    margin-right: 1.5vw;
}
  
label.primary {
    display: block;
    margin: 1.0vw;
}
  
label::after {
    content: ":";
}
  
button, input[type="submit"] {
    margin-top: 1.0vw;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    border: 0.1vw solid lightslategrey;
    background-color: slategrey;
}
  
#wine-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
  
.wine-list-item {
    margin: 1.0vw 1.0vw;
    padding: 1.0vw 1.0vw;
    border: 1.0vw solid lightslategrey;
    border-radius: 1.0vw;
    background: whitesmoke;
}

  