
body {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.0vw;
    background-color: ghostwhite;
    color: slategrey;
    margin: 4vw;
}


h1 {
    font-size: 5.0vw;
}
  

  #form-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}
  

.form-item {
    align-content: center;
    margin-right: 1.5vw;
}
  
label.primary {
    display: block;
    margin: 1.0vw;
}
  
label::after {
    content: ":";
}
  
  
#wine-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
  

.wine-list-item {
    margin: 1.0vw 1.0vw;
    padding: 1.0vw 1.0vw;
    border: 1.0vw solid lightslategrey;
    border-radius: 0.25vw;
    background: whitesmoke;
}


input, select {
    margin-top: 1.0vw;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    border: 0.1vw solid slategrey;
    background-color: whitesmoke;
    border-radius: 0.25vw;
}

button, input[type="submit"] {
    margin-top: 1.0vw;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    border: 0.1vw solid slategrey;
    background-color: whitesmoke;
    border-radius: 0.25vw;
}


/* Radio buttons.. */

input[type="radio"] {
    visibility: hidden;
    }
  
  
input[type="radio"]:after {
    width: 1vw;
    height: 1.0vw;
    border-radius: 1.0vw;
    top: -0.5vw;
    left: -0.5vw;
    position: relative;
    background-color: whitesmoke;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.1vw solid slategrey;
  }
  

input[type="radio"]:checked:after {
    width: 1.0vw;
    height: 1.0vw;
    border-radius: 1.0vw;
    top: -0.5vw;
    left: -0.5vw;
    position: relative;
    background-color: lightsteelblue;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.1vw solid slategrey;
  }
  
  